﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    color: #e3d7c0 !important;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a:not(.btn):not(.navbar-brand) {
    color: #7ca9c8 !important;
}

.navbar {
    color: #ebddc4 !important;
    background-color: #1b1b18 !important;
    border-color: #3c3d3c !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #ebddc4 !important;
    background-color: #1b1b18 !important;
}

.table {
    color: #ebddc4 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.table td {
    vertical-align: middle;
    border-color: #3c3d3c !important;
}

.table th {
    vertical-align: middle;
    border-color: #3c3d3c !important;
}

.btn-primary.disabled {
    color: #afafa2;
    border-color: #3c6385;
    background-color: #254667 !important;
    opacity: 1;
    border-top-color: #254667 !important;
    border-bottom-color: #254667 !important;
}

.btn-primary {
    color: #ffffff;
    border-color: #3c6385;
    background-color: #375a7a;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    border-color: #3c6385;
    background-color: #2c5f93;
}

.border-top {
    border-top-color: #3c3d3c !important;
}

code {
    color: #cB6d87 !important;
}