﻿@page
@model ConferenceModel
@using System.Net
@using static ConferenceModel
@{
    if (c3stream.Conferences.All(c => c.Acronym != Request.Query["c"])) {
        Response.Redirect("/");
        return;
    }

    c3stream.UpdateCookie(Request, Response, $"/Conference?c={Request.Query["c"]}&");
    ReadUserData();
    ViewData["Title"] = Request.Query["c"];
    var wc = new WebClient();
    var conference = c3stream.Conferences.First(c => c.Acronym == Request.Query["c"]);
    if (conference.Ongoing) {
        c3stream.UpdateConference(conference);
    }
    wc.Dispose();
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Event</th>
        <th scope="col">
            @Html.Raw(Request.Query["orderby"] == "published" ? $"<a href=\"/Conference?c={Request.Query["c"]}&bookmark={Request.Query["bookmark"]}\">Published" : $"<a href=\"/Conference?c={Request.Query["c"]}&bookmark={Request.Query["bookmark"]}&orderby=published\">Date")</th>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Speaker(s)</th>
        <th scope="col">Lang</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var talk in Request.Query["orderby"] == "published" ? conference.Talks.OrderByDescending(p => p.ReleaseDate) : conference.Talks.OrderBy(p => p.Date)) {
        var state = UserData.FirstOrDefault(p => p.TalkId == talk.Guid && p.UserId == Request.Cookies["bookmark"])?.State;
        var isWatched = state == "watched";
        var isMarked = state == "marked";
        var file = $"{talk.Slug}.mp4";
        var eventName = talk.Tags.Count <= 1 ? conference.Acronym : talk.Tags[0].Replace("-", "-<br/>");
        var category = talk.Tags.Count switch {
            0 => "<no category>",
            1 => talk.Tags[0],
            2 => "<no category>",
            3 => talk.Tags[2],
            4 => talk.Tags[3],
            5 => talk.Tags[3],
            _ => "<unknown tag format>"
            };
        <tr>
            <td>@Html.Raw(eventName)</td>
            <td>@(Request.Query["orderby"] == "published" ? talk.ReleaseDate?.Date.ToShortDateString() : talk.Date?.Date.ToShortDateString())</td>
            <td>@category</td>
            @if (isWatched) {
                <td style="color: #95cb7a">@talk.Title</td>
            }
            else if (isMarked) {
                <td style="color: #da7d4f">@talk.Title</td>
            }
            else {
                <td>@talk.Title</td>
            }
            <td>@(talk.Persons.Any() ? talk.Persons.Aggregate((s, s1) => $"{s}, {s1}") : "<no speakers>")</td>
            <td>@talk.OriginalLanguage</td>
            <td>
                <div class="btn-group w-100" role="group">
                    <a href="@talk.FrontendLink.AbsoluteUri" role="button" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Play">
                        <i class="fas fa-play-circle"></i>
                    </a>
                    @if (System.IO.File.Exists(System.IO.Path.Combine(c3stream.CachePath, conference.Acronym, file))) {
                        <a href="@(c3stream.CacheUrl + $"{conference.Acronym}/{file}")" role="button" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Mirror">
                            <i class="fas fa-cloud-download"></i>
                        </a>
                    }
                    else {
                        <a href="/" role="button" class="btn btn-primary disabled">
                            <i class="fas fa-cloud-download"></i>
                        </a>
                    }
                    <a href="/Info?guid=@talk.Guid&bookmark=@Request.Query["bookmark"]" role="button" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Info">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    @if (isWatched) {
                        <button onclick="SetState('@talk.Guid', 'unwatched')" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Mark unwatched">
                            <i class="fas fa-times"></i>
                        </button>
                        <button class="btn btn-primary disabled">
                            <i class="fas fa-clock"></i>
                        </button>
                    }
                    else if (isMarked) {
                        <button onclick="SetState('@talk.Guid', 'watched')" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Mark watched">
                            <i class="fas fa-check"></i>
                        </button>
                        <button onclick="SetState('@talk.Guid', 'unwatched')" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Remove from watch later">
                            <i class="fas fa-undo-alt"></i>
                        </button>
                    }
                    else {
                        <button onclick="SetState('@talk.Guid', 'watched')" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Mark watched">
                            <i class="fas fa-check"></i>
                        </button>
                        <button onclick="SetState('@talk.Guid', 'marked')" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="top" title="Add to watch later">
                            <i class="fas fa-clock"></i>
                        </button>
                    }
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>