﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    c3stream.UpdateCookie(Request, Response, "/?");
}

<div style="text-align: center">
    <h1>Welcome to c3stream!</h1>
    Your bookmark link:<br/>
    <code onclick="copyToClipboard(this)">https://@Request.Host.Value?bookmark=@Request.Cookies["bookmark"]</code><br/><br/>
    <div class="btn-group">
        @foreach (var conf in c3stream.Conferences) {
            <a role="button" class="btn btn-primary" href="/Conference?c=@conf.Acronym&bookmark=@Request.Cookies["bookmark"]">@conf.Acronym</a>
        }
    </div>
</div>