﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h3>Privacy</h3>
<p style="text-align: justify">
    All data saved about you on this website is the watched status of talks you marked in association with your randomly generated bookmark UUID.
    No logs are kept, no trackers used. Keep in mind that you are forwarded to media.ccc.de if you choose to open a talk, and have checked their respective privacy policy as well. <br/>
    Have fun!
</p>